*{
    margin: 0;
    box-sizing: border-box;
}
.wrap{
    margin : 0px auto;
}
header{
    width: 800px;
    height: 150px;
    background-color: blue;
}
main{
    width: 800px;
    height: 400px;
    background-color: brown;
}

footer{
    width: 800px;
    height: 150px;
    background-color: red;
}
header .logo{
    width:150px;
    height: 150px;
    background-color: pink;
    float: left;
}
header nav{
    width: 650px;
    height: 150px;
    background-color: palevioletred;
    float: left;
}
main aside{
    width: 35%;
    height: 100%;
    background-color: aqua;
    float: left;
}
main .mainContent{
    width: 65%;
    height: 100%;
    background-color: forestgreen;
    float: left;
}